.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #07072c;
    --primary-color: #1b40b1;
    --secondary-color: #0449e0;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}